/* minus zagolovok neznay nawo */
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* knopka- hover i fokus pohodu100%*/
/*--------------------------------- head------------------ */
.list-header {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.link-header {
  padding: 20px;
  display: inline-block;
}

.header {
  background-color: var(--top-color);
  max-width: 1600px;
  text-align: center;
}

.btn {
  color: var(--big-fon-color);
  background-color: var(--acent-color);
  border: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  margin: 0 auto;
 }

 li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.btn-portfolio {
  color: var(--top-color);
  background-color: var(--big-fon-color);
  border: var(--big-fon-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 125px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
}



.list-btn-portfolio li {
  margin-right: 8px;
  display: inline;
  padding: 3px;
  text-align: center;
}



button:hover,
button:focus {
  color: var(--big-fon-color);
  background-color: var(--acent-color);
  border: var(--acent-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--big-fon-color);
  color: var(--top-color);
}
/* ----------------------main------------------------------- */
.list-main {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  
}
.link-header {
  color: var(--top-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link-div-header {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* margin-right: vidstypu mig IMG */
.list-work li {
  display: inline;
}

.working {
  text-align: center;
}

.list-team {
  display: flex;
}


/* ------------------Psevdoklasi tipa------------------------------ */

.link-header.current {
  color: var(--acent-color);
}

.link-header:hover,
.link-header:focus,
.link-div-header:hover,
.link-footer:hover,
.link-div-header:focus,
.link-footer:focus {
  color: var(--acent-color);
}

.text-main {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------------------------------h1------------- */
.title-main-big {
  color: var(--big-fon-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
}

.header {
  background: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* ---------------------------------h2------------- */
.title-main-medium {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------------------------h3---------------- */
.title-main-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* ----------------------------h3 tiny------------------ */
.title-main-tiny {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.mini-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: none;
}

.logo-header-accent {
  color: var(--top-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--big-fon-color);
  width: 231px;
height: 21px;
}

/* --------------------------footer----------------- */
footer {
  background-color: var(--top-color);
}

.address {
  font-style: normal;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: none;
}

.logo-footer-accent {
  color: var(--big-fon-color);
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

/* ---------------------------h3 portfolio--------------------------- */
.box {
  display: inline-block;
  margin: 30px;
}
.title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-color);
}

.list-portfolio p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

:root {
  --text-color: #757575;
  --top-color: #212121;
  --big-fon-color: #ffffff;
  --acent-color: #2196f3;
}

.container {
width: 1630px;
padding-left: 15px;
padding-right: 15px;
max-width: 1630px;
}

.footer {
  max-width: 1600px;
}





