/* minus zagolovok neznay nawo */
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* knopka- hover i fokus pohodu100%*/
/*--------------------------------- head------------------ */




.btn {
  color: var(--big-fon-color);
  background-color: var(--acent-color);
  border: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
 }

 li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.btn-portfolio {
  color: var(--top-color);
  background-color: #F5F4FA;;
  border: var(--big-fon-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
}



.list-btn-portfolio li {
  margin-right: 8px;
  display: inline;
  padding: 3px;
  text-align: center;
}



button:hover,
button:focus {
  color: var(--big-fon-color);
  background-color: var(--acent-color);
  border: var(--acent-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--big-fon-color);
  color: var(--top-color);
}
/* ----------------------main------------------------------- */
/* .img-container {
  display: block;
  display: flex;
  justify-content: center;
} */


.list-header {
  list-style: none;
  display: flex;
}

.list-header .link-header +.link-header {
  margin-left: 40px;
}



.header {
  background-color: var(--top-color);
  text-align: center;
}

.main-nav {
  text-align: center;
  display: flex;
  align-items: center;
  }

header {
  border-bottom: 1px solid #EEEEEE;
}

.list-main {
  list-style: none;
  gap: 30px;
  display: block;
  display: flex;
  justify-content: center;
}


.list-main li{
  width: 270px;
}

  .link-header {
    padding: 25px;
    display: block;
  }

 .link-tel {
  display: block;
  display: flex;
  margin-left: auto;
 } 

.link-header {
  color: var(--top-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-div-header {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 15px;
}
/* margin-right: vidstypu mig IMG */

.working {
  padding-top: 94px;
  padding-bottom: 94px;
}


* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.title-main-medium {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  }

.container-team {
  display:block;
  display: flex;
  padding-bottom: 95px;
  background: #F5F4FA;
}




/* ------------------Psevdoklasi tipa------------------------------ */

.link-header.current {
  color: var(--acent-color);
}

.sity:hover,
.sity:focus,
.link-header:hover,
.link-header:focus,
.link-div-header:hover,
.link-footer:hover,
.link-div-header:focus,
.link-footer:focus {
  color: var(--acent-color);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-main {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------------------------------h1------------- */
.title-main-big {
  color: var(--big-fon-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
}

.header {
  background: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.gogogo {
  padding-top: 94px;
}

/* ---------------------------------h2------------- */


/* ------------------------------h3---------------- */

/* .img-container {
  padding-top: 94px;
} */

.title-main-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  border: none;
}

.list-team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-item {
  display: contents;
  gab: 30px;
  padding-bottom: 94px;
}



img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-work {
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.flex-team {
  background: #F5F4FA;
  display:block;
  display: flex;
  gap: 30px;
  justify-content: center;
  }

/* ----------------------------h3 tiny------------------ */
.title-main-tiny {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.mini-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo-header-accent {
  color: var(--top-color);
}



/* --------------------------footer----------------- */
footer {
  background-color: var(--top-color);
}


.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.logo-footer-accent {
  color: var(--big-fon-color);
}

.item-team {
  text-align: center;
}

.item-team img {
  border-radius: 0px;
}

.item-team-mini {
 text-align: center;
}

.address-address {
  margin-top: 20px;
}

.sity {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--big-fon-color);
  /* width: 231px;
  height: 21px; */
  font-style: normal;
  text-decoration: none;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}


.list-footer:not(:last-child) {
  margin-bottom: 9px;
}
/* ---------------------------h3 portfolio--------------------------- */


.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.box {
  width: 370px;
  }


.text {
  color: #757575;
  margin-top: 4px;
}

.title-portfolio {
  font-size: 18px;
  /* line-height: 36px; / 18 =2 */
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--top-color);
}

.list-portfolio p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

:root {
  --text-color: #757575;
  --top-color: #212121;
  --big-fon-color: #ffffff;
  --acent-color: #2196f3;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.footer-container {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  }

.footer {
 
}

.list-btn-portfolio {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-section {
  padding-bottom: 94px;
  padding-top: 94px;
  display: block;
  display: flex;
  justify-content: center;
}


.box-mini {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  width: 370px;
  border: 1px solid #EEEEEE;
}

.border-item {
   display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.section {
  pading-top: 94px;
  pading-bottom: 94px;
}





